version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_DATABASE_HOST: mysql_db:3306
    networks:
      - ecosystem-net
networks:
  ecosystem-net:
    name: ecosystem-net