spring:
  datasource:
    primary:
      url: jdbc:mysql://${MYSQL_PRIMARY_DB_HOST}:${MYSQL_PRIMARY_DB_PORT}/${MYSQL_PRIMARY_DB_NAME}?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull
      username: ${MYSQL_PRIMARY_DB_USERNAME}
      password: ${MYSQL_PRIMARY_DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver
      hikari:
        pool-name: ecosystem-primary-db
        driver-class-name: com.mysql.cj.jdbc.Driver
        auto-commit: true
        connection-timeout: 3000
        idle-timeout: 300000
        max-lifetime: 1800000
        minimum-idle: 10
        maximum-pool-size: 30
        data-source-properties:
          cachePrepStmts: true
          prepStmtCacheSize: 250
          prepStmtCacheSqlLimit: 2048
          useServerPrepStmts: true
          useLocalSessionState: true
          rewriteBatchedStatements: true
          cacheResultSetMetadata: true
          cacheServerConfiguration: true
          elideSetAutoCommits: true
          maintainTimeStats: false

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update