version: '3.8' # Use a recent Docker Compose file format
services:
  db:
    image: mysql:8.0 # Specify the MySQL image and tag
    container_name: mysql_db # A custom name for your container
    environment:
      MYSQL_ROOT_PASSWORD: 12345 # Set the root password
      MYSQL_DATABASE: ecosystem # Optional: Create a default database
      MYSQL_USER: user # Optional: Create a default user
      MYSQL_PASSWORD: 12345 # Optional: Set password for the default user
    ports:
      - "3306:3306" # Map host port 3306 to container port 3306
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_logs_shared:/var/log/mysql
      - ./init-scripts:/docker-entrypoint-initdb.d
    command:
      --general-log=1
      --general_log_file=/var/log/mysql/general.log
    restart: always
    entrypoint: >
      sh -c "
        chown -R 1000:1000 /var/log/mysql &&
        exec docker-entrypoint.sh mysqld
      "
    networks:
      - kafka-net
volumes:
  mysql_data:
  mysql_logs_shared:
    external: true


networks:
  kafka-net:
    external: true