version: '3.8' # Use a recent Docker Compose file format
services:
  db:
    image: mysql:8.0 # Specify the MySQL image and tag
    container_name: mysql_db # A custom name for your container
    environment:
      MYSQL_ROOT_PASSWORD: 12345 # Set the root password
      MYSQL_DATABASE: ecosystem # Optional: Create a default database
      MYSQL_USER: user # Optional: Create a default user
      MYSQL_PASSWORD: 12345 # Optional: Set password for the default user
    ports:
      - "3306:3306" # Map host port 3306 to container port 3306
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_logs_shared:/var/log/mysql
      - ./init-scripts:/docker-entrypoint-initdb.d
    command:
      --slow-query-log=1
      --slow_query_log_file=/var/log/mysql/slow.log
      --long_query_time=0.5
      --log-output=FILE

    restart: always
    networks:
      - ecosystem-net
volumes:
  mysql_data:
  mysql_logs_shared:
    name: mysql_logs_shared

networks:
  ecosystem-net:
    name: ecosystem-net