filebeat.inputs:
  - type: filestream
    id: mysql-slowlog
    enabled: true
    paths:
      - /var/log/mysql_logs/slow.log
    parsers:
      - multiline:
          type: pattern
          pattern: '^\# Time:'
          negate: true
          match: after
    fields:
      log_type: mysql_slow
    ignore_older: 0

output.logstash:
  hosts: ["logstash:5044"]
  ssl:
    certificate_authorities: ["/usr/share/filebeat/certs/ca/ca.crt"]
   # certificate: "/usr/share/filebeat/certs/logstash/logstash.crt"
   # key: "/usr/share/filebeat/certs/logstash/logstash.key"

setup.template.enabled: true
setup.ilm.enabled: false
